* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
.fadeIn-enter {
    opacity: 0;
    transform: scale(0.9);
}

.fadeIn-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}

.fadeIn-exit {
    opacity: 1;
}

.fadeIn-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}